-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "PlanTier" AS ENUM ('free', 'trial', 'pro', 'team', 'enterprise');

-- CreateEnum
CREATE TYPE "PaidPlanTier" AS ENUM ('pro', 'team', 'enterprise');

-- CreateEnum
CREATE TYPE "ModuleScope" AS ENUM ('narrate', 'memorybank', 'bundle');

-- CreateEnum
CREATE TYPE "SubscriptionStatus" AS ENUM ('active', 'expired', 'revoked', 'refunded');

-- CreateEnum
CREATE TYPE "SubscriptionSource" AS ENUM ('stripe', 'offline', 'manual');

-- CreateEnum
CREATE TYPE "RefundStatus" AS ENUM ('requested', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "OfflinePaymentStatus" AS ENUM ('pending', 'submitted', 'approved', 'rejected');

-- CreateEnum
CREATE TYPE "RedeemStatus" AS ENUM ('unused', 'used', 'revoked');

-- CreateEnum
CREATE TYPE "RedeemSource" AS ENUM ('offline', 'admin');

-- CreateEnum
CREATE TYPE "AffiliateCodeStatus" AS ENUM ('active', 'paused');

-- CreateEnum
CREATE TYPE "AffiliateConversionStatus" AS ENUM ('clicked', 'registered', 'paid_confirmed', 'refunded');

-- CreateEnum
CREATE TYPE "AffiliatePayoutStatus" AS ENUM ('pending', 'approved', 'paid', 'rejected');

-- CreateEnum
CREATE TYPE "ProviderScopeType" AS ENUM ('user', 'team');

-- CreateEnum
CREATE TYPE "OAuthProvider" AS ENUM ('github', 'google');

-- CreateEnum
CREATE TYPE "TeamPlan" AS ENUM ('team', 'enterprise');

-- CreateEnum
CREATE TYPE "TeamRole" AS ENUM ('owner', 'manager', 'member');

-- CreateEnum
CREATE TYPE "MembershipStatus" AS ENUM ('active', 'revoked');

-- CreateEnum
CREATE TYPE "AdminAccountStatus" AS ENUM ('active', 'suspended', 'disabled');

-- CreateEnum
CREATE TYPE "AdminScopeType" AS ENUM ('department', 'shop');

-- CreateEnum
CREATE TYPE "JwtAlg" AS ENUM ('ES256');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "last_login_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_challenges" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "expires_at" TIMESTAMPTZ(3) NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "auth_challenges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "token" TEXT NOT NULL,
    "user_id" UUID NOT NULL,
    "expires_at" TIMESTAMPTZ(3) NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("token")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "plan_id" "PaidPlanTier" NOT NULL,
    "team_id" UUID,
    "status" "SubscriptionStatus" NOT NULL,
    "starts_at" TIMESTAMPTZ(3) NOT NULL,
    "ends_at" TIMESTAMPTZ(3) NOT NULL,
    "revoked_at" TIMESTAMPTZ(3),
    "refund_window_ends_at" TIMESTAMPTZ(3) NOT NULL,
    "source" "SubscriptionSource" NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_entitlements" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "narrate_enabled" BOOLEAN NOT NULL,
    "memorybank_enabled" BOOLEAN NOT NULL,
    "bundle_enabled" BOOLEAN NOT NULL,
    "starts_at" TIMESTAMPTZ(3) NOT NULL,
    "ends_at" TIMESTAMPTZ(3) NOT NULL,
    "status" "SubscriptionStatus" NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "product_entitlements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_quotas" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "scope" TEXT NOT NULL,
    "period_start" TIMESTAMPTZ(3) NOT NULL,
    "period_end" TIMESTAMPTZ(3) NOT NULL,
    "projects_allowed" INTEGER NOT NULL,
    "projects_used" INTEGER NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "project_quotas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "project_activations" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "scope" TEXT NOT NULL,
    "repo_fingerprint" TEXT NOT NULL,
    "repo_label" TEXT,
    "first_activated_at" TIMESTAMPTZ(3) NOT NULL,
    "last_seen_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "project_activations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "devices" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "install_id" TEXT NOT NULL,
    "device_label" TEXT,
    "last_seen_at" TIMESTAMPTZ(3) NOT NULL,
    "revoked_at" TIMESTAMPTZ(3),

    CONSTRAINT "devices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "trials" (
    "user_id" UUID NOT NULL,
    "trial_started_at" TIMESTAMPTZ(3) NOT NULL,
    "trial_expires_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "trials_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "refund_requests" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "subscription_id" UUID NOT NULL,
    "requested_at" TIMESTAMPTZ(3) NOT NULL,
    "status" "RefundStatus" NOT NULL,
    "approved_at" TIMESTAMPTZ(3),
    "reason" TEXT,

    CONSTRAINT "refund_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "offline_payment_refs" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "ref_code" TEXT NOT NULL,
    "amount_cents" INTEGER NOT NULL,
    "plan_id" "PaidPlanTier" NOT NULL,
    "module_scope" "ModuleScope" NOT NULL,
    "years" INTEGER NOT NULL,
    "proof_url" TEXT,
    "status" "OfflinePaymentStatus" NOT NULL,
    "expires_at" TIMESTAMPTZ(3) NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "submitted_at" TIMESTAMPTZ(3),
    "approved_at" TIMESTAMPTZ(3),
    "rejected_at" TIMESTAMPTZ(3),
    "rejection_reason" TEXT,
    "redeem_code" TEXT,

    CONSTRAINT "offline_payment_refs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "redeem_codes" (
    "id" UUID NOT NULL,
    "code" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "plan_id" "PaidPlanTier" NOT NULL,
    "module_scope" "ModuleScope" NOT NULL,
    "years" INTEGER NOT NULL,
    "status" "RedeemStatus" NOT NULL,
    "source" "RedeemSource" NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "used_at" TIMESTAMPTZ(3),
    "used_by_user_id" UUID,
    "revoked_at" TIMESTAMPTZ(3),

    CONSTRAINT "redeem_codes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stripe_events" (
    "id" UUID NOT NULL,
    "event_id" TEXT NOT NULL,
    "event_type" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "stripe_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "affiliate_codes" (
    "id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "code" TEXT NOT NULL,
    "commission_rate_bps" INTEGER NOT NULL,
    "status" "AffiliateCodeStatus" NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "affiliate_codes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "affiliate_conversions" (
    "id" UUID NOT NULL,
    "affiliate_user_id" UUID NOT NULL,
    "buyer_user_id" UUID,
    "ref_code" TEXT NOT NULL,
    "status" "AffiliateConversionStatus" NOT NULL,
    "order_id" TEXT,
    "gross_amount_cents" INTEGER NOT NULL,
    "commission_amount_cents" INTEGER NOT NULL,
    "confirmed_at" TIMESTAMPTZ(3),
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "payout_id" UUID,

    CONSTRAINT "affiliate_conversions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "affiliate_payouts" (
    "id" UUID NOT NULL,
    "affiliate_user_id" UUID NOT NULL,
    "period_start" TIMESTAMPTZ(3) NOT NULL,
    "period_end" TIMESTAMPTZ(3) NOT NULL,
    "amount_cents" INTEGER NOT NULL,
    "status" "AffiliatePayoutStatus" NOT NULL,
    "payout_reference" TEXT,
    "paid_at" TIMESTAMPTZ(3),
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "affiliate_payouts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "provider_policies" (
    "id" UUID NOT NULL,
    "scope_type" "ProviderScopeType" NOT NULL,
    "scope_id" TEXT NOT NULL,
    "local_only" BOOLEAN NOT NULL,
    "byo_allowed" BOOLEAN NOT NULL,
    "allowlist" TEXT[],
    "denylist" TEXT[],
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "provider_policies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "oauth_states" (
    "id" UUID NOT NULL,
    "state" TEXT NOT NULL,
    "provider" "OAuthProvider" NOT NULL,
    "install_id" TEXT,
    "callback_url" TEXT,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "expires_at" TIMESTAMPTZ(3) NOT NULL,
    "consumed_at" TIMESTAMPTZ(3),

    CONSTRAINT "oauth_states_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "teams" (
    "id" UUID NOT NULL,
    "team_key" TEXT NOT NULL,
    "owner_user_id" UUID NOT NULL,
    "plan_id" "TeamPlan" NOT NULL,
    "module_scope" "ModuleScope" NOT NULL,
    "seat_limit" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "teams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "team_memberships" (
    "id" UUID NOT NULL,
    "team_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "role" "TeamRole" NOT NULL,
    "status" "MembershipStatus" NOT NULL,
    "invited_email" TEXT,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "revoked_at" TIMESTAMPTZ(3),

    CONSTRAINT "team_memberships_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_accounts" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "status" "AdminAccountStatus" NOT NULL,
    "is_super_admin" BOOLEAN NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL,
    "last_login_at" TIMESTAMPTZ(3),

    CONSTRAINT "admin_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_roles" (
    "id" UUID NOT NULL,
    "role_key" TEXT NOT NULL,
    "display_name" TEXT NOT NULL,
    "description" TEXT,
    "is_system_role" BOOLEAN NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "admin_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_permissions" (
    "id" UUID NOT NULL,
    "permission_key" TEXT NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "admin_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_role_permissions" (
    "id" UUID NOT NULL,
    "role_id" UUID NOT NULL,
    "permission_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "admin_role_permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_scopes" (
    "id" UUID NOT NULL,
    "scope_type" "AdminScopeType" NOT NULL,
    "scope_key" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "is_active" BOOLEAN NOT NULL,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "updated_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "admin_scopes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_account_roles" (
    "id" UUID NOT NULL,
    "admin_account_id" UUID NOT NULL,
    "role_id" UUID NOT NULL,
    "scope_id" UUID,
    "assigned_by_admin_id" UUID,
    "created_at" TIMESTAMPTZ(3) NOT NULL,
    "revoked_at" TIMESTAMPTZ(3),

    CONSTRAINT "admin_account_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_audit_logs" (
    "id" UUID NOT NULL,
    "actor_admin_id" UUID,
    "action" TEXT NOT NULL,
    "target_type" TEXT NOT NULL,
    "target_id" TEXT,
    "scope_id" UUID,
    "metadata" JSONB,
    "created_at" TIMESTAMPTZ(3) NOT NULL,

    CONSTRAINT "admin_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "keys" (
    "id" TEXT NOT NULL,
    "alg" "JwtAlg" NOT NULL,
    "private_key_pem" TEXT NOT NULL,
    "public_key_pem" TEXT NOT NULL,

    CONSTRAINT "keys_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "sessions_user_id_idx" ON "sessions"("user_id");

-- CreateIndex
CREATE INDEX "subscriptions_user_id_status_idx" ON "subscriptions"("user_id", "status");

-- CreateIndex
CREATE INDEX "subscriptions_plan_id_idx" ON "subscriptions"("plan_id");

-- CreateIndex
CREATE INDEX "subscriptions_team_id_idx" ON "subscriptions"("team_id");

-- CreateIndex
CREATE INDEX "product_entitlements_user_id_status_idx" ON "product_entitlements"("user_id", "status");

-- CreateIndex
CREATE INDEX "project_quotas_user_id_scope_idx" ON "project_quotas"("user_id", "scope");

-- CreateIndex
CREATE UNIQUE INDEX "project_activations_user_id_scope_repo_fingerprint_key" ON "project_activations"("user_id", "scope", "repo_fingerprint");

-- CreateIndex
CREATE UNIQUE INDEX "devices_user_id_install_id_key" ON "devices"("user_id", "install_id");

-- CreateIndex
CREATE INDEX "refund_requests_user_id_idx" ON "refund_requests"("user_id");

-- CreateIndex
CREATE INDEX "refund_requests_subscription_id_idx" ON "refund_requests"("subscription_id");

-- CreateIndex
CREATE UNIQUE INDEX "offline_payment_refs_ref_code_key" ON "offline_payment_refs"("ref_code");

-- CreateIndex
CREATE INDEX "offline_payment_refs_plan_id_idx" ON "offline_payment_refs"("plan_id");

-- CreateIndex
CREATE UNIQUE INDEX "redeem_codes_code_key" ON "redeem_codes"("code");

-- CreateIndex
CREATE INDEX "redeem_codes_plan_id_idx" ON "redeem_codes"("plan_id");

-- CreateIndex
CREATE INDEX "redeem_codes_used_by_user_id_idx" ON "redeem_codes"("used_by_user_id");

-- CreateIndex
CREATE UNIQUE INDEX "stripe_events_event_id_key" ON "stripe_events"("event_id");

-- CreateIndex
CREATE UNIQUE INDEX "affiliate_codes_code_key" ON "affiliate_codes"("code");

-- CreateIndex
CREATE INDEX "affiliate_codes_user_id_idx" ON "affiliate_codes"("user_id");

-- CreateIndex
CREATE INDEX "affiliate_conversions_affiliate_user_id_status_idx" ON "affiliate_conversions"("affiliate_user_id", "status");

-- CreateIndex
CREATE INDEX "affiliate_conversions_buyer_user_id_idx" ON "affiliate_conversions"("buyer_user_id");

-- CreateIndex
CREATE INDEX "affiliate_conversions_order_id_idx" ON "affiliate_conversions"("order_id");

-- CreateIndex
CREATE INDEX "affiliate_conversions_payout_id_idx" ON "affiliate_conversions"("payout_id");

-- CreateIndex
CREATE INDEX "affiliate_payouts_affiliate_user_id_status_idx" ON "affiliate_payouts"("affiliate_user_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "provider_policies_scope_type_scope_id_key" ON "provider_policies"("scope_type", "scope_id");

-- CreateIndex
CREATE UNIQUE INDEX "oauth_states_state_key" ON "oauth_states"("state");

-- CreateIndex
CREATE INDEX "oauth_states_install_id_idx" ON "oauth_states"("install_id");

-- CreateIndex
CREATE UNIQUE INDEX "teams_team_key_key" ON "teams"("team_key");

-- CreateIndex
CREATE INDEX "teams_owner_user_id_idx" ON "teams"("owner_user_id");

-- CreateIndex
CREATE INDEX "teams_plan_id_idx" ON "teams"("plan_id");

-- CreateIndex
CREATE UNIQUE INDEX "team_memberships_team_id_user_id_key" ON "team_memberships"("team_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "admin_accounts_email_key" ON "admin_accounts"("email");

-- CreateIndex
CREATE UNIQUE INDEX "admin_roles_role_key_key" ON "admin_roles"("role_key");

-- CreateIndex
CREATE UNIQUE INDEX "admin_permissions_permission_key_key" ON "admin_permissions"("permission_key");

-- CreateIndex
CREATE INDEX "admin_role_permissions_role_id_idx" ON "admin_role_permissions"("role_id");

-- CreateIndex
CREATE INDEX "admin_role_permissions_permission_id_idx" ON "admin_role_permissions"("permission_id");

-- CreateIndex
CREATE UNIQUE INDEX "admin_role_permissions_role_id_permission_id_key" ON "admin_role_permissions"("role_id", "permission_id");

-- CreateIndex
CREATE UNIQUE INDEX "admin_scopes_scope_type_scope_key_key" ON "admin_scopes"("scope_type", "scope_key");

-- CreateIndex
CREATE INDEX "admin_account_roles_admin_account_id_idx" ON "admin_account_roles"("admin_account_id");

-- CreateIndex
CREATE INDEX "admin_account_roles_role_id_idx" ON "admin_account_roles"("role_id");

-- CreateIndex
CREATE INDEX "admin_account_roles_scope_id_idx" ON "admin_account_roles"("scope_id");

-- CreateIndex
CREATE INDEX "admin_account_roles_assigned_by_admin_id_idx" ON "admin_account_roles"("assigned_by_admin_id");

-- CreateIndex
CREATE INDEX "admin_audit_logs_actor_admin_id_idx" ON "admin_audit_logs"("actor_admin_id");

-- CreateIndex
CREATE INDEX "admin_audit_logs_scope_id_idx" ON "admin_audit_logs"("scope_id");

-- CreateIndex
CREATE INDEX "admin_audit_logs_target_type_target_id_idx" ON "admin_audit_logs"("target_type", "target_id");

